body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
}
.banner{
         width : 100%;
        height: 200px; 
    }
 .banner img{
    margin: auto;
    width: 100%;
    height: 635px;
} 
.banner-text{
    position: absolute;
    text-align: center;
    top: 35%;
    left:22%;
    color: white;
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; 
}
.donate-btn{
    color: white;
    background-color: tomato;
    padding: 10px 35px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}


.donate-tk{
    text-align: center;
    padding:  500px 50px 50px;
}
.donate-ammnt{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    font-size: x-large;
    margin-bottom: 30px;
}

.ammount{
    background-color: #FFF6EA;
    padding: 40px 40px;
    color: gray;
}
.specific-clr{     
    color: tomato;
    background-color: #FFDEDE;
    padding: 40px 40px;
    border: 3px solid red;]
}
.send-now{
    display: inline-block;
    margin-top: 30px;
}
.other-text{
    color: gray;
}    